
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Pong!</title>
    <link href='/static/pc/stylesheet.css' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/styles.css' rel='stylesheet' type='text/css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="wrapper">
        <div class="left">
            <div class="h1">
                <h1>pong</h1>
                <small class="dark">tracking platform</small>
            </div>
        </div>
        <div class="right">
            <form class="form-signin" role="form" method="POST">
                <br>
                <input name="confirm_code" type="text" class="form-control" placeholder="Confirmation Code (eg. 2587)" required autofocus>
                <div><small>Confirmation Code is sent to your number</small></div>
                <br>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="ACTIVATE">
            </form>
        </div>
      
    </div> <!-- /container -->


  </body>
</html>