
body {
    *background: url(http://subtlepatterns.com/patterns/halftone.png);
    background-color: #344D5C;
    color: white;
    *text-shadow: 0px 1px 0px white;
    font-family: 'plantagenet_cherokeeregular';
}

ul{
    list-style: none;
}
h1 {
    font-size: 60pt;
}
.wrapper {
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -100px;
    width: 700px;
    height: 200px;
    position: absolute;
}
.left {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    box-shadow: -1px 0px 0px rgba(255, 255, 255, .2) inset;
}
.left .h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    margin-top: -60px;
    margin-left: -125px;
    text-align: center;
}
.right {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

form.form-signin, .form-set-check {
    padding: 20px;
}
small {
    opacity: .7;
}

.form-control {
    border: 2px solid rgba(255,255,255,.2);
    box-shadow:none;
    background-color: transparent;
    color: white;
}


input.btn{
    outline: none !important;
    bordeR: none !important;
    background-color: #66afe9 !important;
    box-shadow: none !important;
    color: white !important;
}
input.btn:focus, input.btn:hover {
    background-color: #88cfff !important;
}

:-webkit-input-placeholder {
   color: rgba(255,255,255,.2);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,.2);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.2);  
}

:-ms-input-placeholder {  
   color: rgba(255,255,255,.2);  
}

hr {
    margin: 2px;
    border: 0;
}



#condition {
    height: 100%;
}
#condition-container {
    height: 300px;
    overflow:hidden;
    padding: 0;
    border-radius: 6px;
    margin-top:-2px;
}
.ui-resizable-s {
    height: 5px;
    background-color: rgba(233, 233, 233, 0.49);
    top: -5px;
    border-top: 1px solid #ddd;
    position: relative;
    cursor: row-resize;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.54) inset;
}

.flat-bottom{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.flat-top{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

select > option{
    color: #344D5C;
}

.dark {
    color: rgba(0, 0, 0, 0.5) !important;
    
}